
body {
    font-family: "Bungee Tint", sans-serif;
    padding-top: 56px;
    background-color:  #081b29; 
}

section {
    background-color:  #081b29;
    color: white; 
    padding: 60px 0;
}


.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff; 
    text-transform: uppercase;
    transition: color 0.3s, text-shadow 0.3s;
}

.navbar-brand:hover {
    color: yellow; 
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.navbar-nav .nav-link {
    color: #ffffff; 
    font-size: 1rem;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s, text-shadow 0.3s;
    border-radius: 5px;
    text-transform: uppercase;}

.navbar-nav .nav-link:hover {
    color: #ffffff; 
    background-color: #0056b3; 
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    text-decoration: none; 
}


.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


footer {
    padding: 20px 0;
}


form .form-control {
    border-radius: 0;
    border: 2px solid #ccc;
}

form .btn {
    border-radius: 0;
    background-color: #007bff;
    border: none;
}

form .btn:hover {
    background-color: #0056b3;
}


.progress {
    margin-bottom: 20px;
}

.skill-item h4 {
    margin-bottom: 10px;
}


.about-buttons {
    margin-top: 20px;
}

.btn-custom {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff; 
    transition: background-color 0.3s, transform 0.3s;
}

.btn-custom:hover {
    background-color: #0056b3; 
    transform: translateY(-3px);
}

.btn-custom:active {
    background-color: #004085; 
    transform: translateY(0);
}


.education-card {
    background-color: #f8f9fa; /* Light background color */
    border: 1px solid #dee2e6; /* Light border */
    border-radius: 5px; /* Rounded corners */
    padding: 20px;
    margin: 10px;
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.education-card:hover {
    background-color: #e9ecef; /* Slightly darker background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
    transform: translateY(-5px); /* Slight lift effect */
}